* {
  margin: 0%;
  border: 0%;
  background-color: lightgray;
}
html {
  height: 100vh;
}
.container {
  display: grid;

  grid-template-areas:
    "header header"
    "aside main"
    "footer footer";
}
.header {
  grid-area: header;
  background-color: rgb(49, 49, 114);
  color: white;
  text-align: center;
  justify-content: center;
  height: 10vh;
}
.aside {
  grid-area: aside;
  display: flex;
  flex-direction: column;
  height: 80vh;
  width: 20vw;
}
.main {
  grid-area: main;
  background-color: rgb(247, 241, 240);
  height: vh;
  width: 80vw;
}
footer {
  grid-area: footer;
  background-color: rgb(106, 138, 243);
  text-align: center;
}
.card {
  display: grid;
  display: inline-block;
}
button {
  text-decoration: none;
  font-weight: 600;
  font-size: 20px;
  color: #333333;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 40px;
  padding-right: 40px;
  background-color: #9a5cfd;
  border-color: #d8d8d8;
  border-width: 3px;
  border-style: solid;
  border-radius: 35px;
}
